main {
    background-image: url(../assets/img/imagen-fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.navbar {
    border-bottom: 2px solid rgb(180, 180, 180);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #F0F0F0;
}

.nav-link {
    color: rgb(0, 0, 0) !important;
}

.white-with-blue-shadow {
    text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em red;
    color: white;
    font: 1.5em Georgia, "Bitstream Charter", "URW Bookman L", "Century Schoolbook L", serif;
}

.back {
    background-image: url(../assets/img/imagen2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    height: 100vh;
}

.img-cart {
    width: 80px;
    height: 80px;
}

.links {
    text-decoration: none;
}

.title-table {
    caption-side: top;
    color: black;
    font-size: 20px;
}

.h5,
h5 {
    font-size: 1.20rem;
}

.row {
    display: flex;
    justify-content: space-between;
}

.d-flex {
    padding-top: 85px;
}

.card-body {
    font-size: 20px;
}

.fixed-height-card {
    overflow-y: auto;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    height: 42rem;
    margin-bottom: 35px;
}

.card img {
    max-width: 100%;
    height: auto;
    border-radius: 15px;
    padding: 5px;
}

.card h3 {
    font-size: 1.5rem;
}

.card p {
    font-size: 1rem;
}

h3 {
    padding-top: 20px;
}

p {
    padding-top: 20px;
}

.carrito {
    background-color: #efefef;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

.form_container {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 50px 40px 20px 40px;
    background-color: #ffffff;
    box-shadow: 0px 106px 42px rgba(0, 0, 0, 0.01),
        0px 59px 36px rgba(0, 0, 0, 0.05), 0px 26px 26px rgba(0, 0, 0, 0.09),
        0px 7px 15px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
    border-radius: 11px;
    font-family: "Inter", sans-serif;
}

.products-total {
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    padding: 50px 40px 20px 40px;
    box-shadow: 0px 106px 42px rgba(0, 0, 0, 0.01),
        0px 59px 36px rgba(0, 0, 0, 0.05), 0px 26px 26px rgba(0, 0, 0, 0.09),
        0px 7px 15px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
    border-radius: 11px;
    margin-top: 75px;
}

.logo_container {
    box-sizing: border-box;
    width: 80px;
    height: 80px;
    background: linear-gradient(180deg, rgba(248, 248, 248, 0) 50%, #F8F8F888 100%);
    border: 1px solid #F7F7F8;
    filter: drop-shadow(0px 0.5px 0.5px #EFEFEF) drop-shadow(0px 1px 0.5px rgba(239, 239, 239, 0.5));
    border-radius: 11px;
}

.title_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.title {
    margin: 0;
    font-size: 2rem;
    font-weight: 700;
    color: #212121;
}

.subtitle {
    font-size: 0.725rem;
    max-width: 80%;
    text-align: center;
    line-height: 1.1rem;
    color: #8B8E98;
}

.input_container {
    width: 100%;
    height: fit-content;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.icon {
    width: 20px;
    position: absolute;
    z-index: 99;
    left: 12px;
    bottom: 9px;
}

.input_label {
    font-size: 0.75rem;
    color: #8B8E98;
    font-weight: 600;
}

.input_field {
    width: auto;
    height: 40px;
    padding: 0 0 0 40px;
    border-radius: 7px;
    outline: none;
    border: 1px solid #e5e5e5;
    filter: drop-shadow(0px 1px 0px #efefef) drop-shadow(0px 1px 0.5px rgba(239, 239, 239, 0.5));
    transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
}

.input_field:focus {
    border: 1px solid transparent;
    box-shadow: 0px 0px 0px 2px #242424;
    background-color: transparent;
}

.sign-in_btn {
    width: 100%;
    height: 40px;
    border: 0;
    background: #115DFC;
    border-radius: 7px;
    outline: none;
    color: #ffffff;
    cursor: pointer;
}

.sign-in_ggl {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background: #ffffff;
    border-radius: 7px;
    outline: none;
    color: #242424;
    border: 1px solid #e5e5e5;
    filter: drop-shadow(0px 1px 0px #efefef) drop-shadow(0px 1px 0.5px rgba(239, 239, 239, 0.5));
    cursor: pointer;
}

.sign-in_apl {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background: #212121;
    border-radius: 7px;
    outline: none;
    color: #ffffff;
    border: 1px solid #e5e5e5;
    filter: drop-shadow(0px 1px 0px #efefef) drop-shadow(0px 1px 0.5px rgba(239, 239, 239, 0.5));
    cursor: pointer;
}

.separator {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    color: #8B8E98;
}

.separator .line {
    display: block;
    width: 100%;
    height: 1px;
    border: 0;
    background-color: #e8e8e8;
}

.note {
    font-size: 0.75rem;
    color: #8B8E98;
    text-decoration: underline;
}

.login {
    display: flex;
    justify-content: center;
    background-color: #efefef;
}

.Register {
    display: flex;
    justify-content: center;
    background-color: #efefef;
    padding: auto;
}

.carousel {
    width: 65%;
    margin: 0 auto;
    margin-top: 145px;

}

.nav-user-init {
    display: flex;
}


.footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

body {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
}

.footer-top {
    display: flex;
    justify-content: space-between;
}

.footer-location,
.footer-links,
.footer-reseña {
    flex: 1;
    padding: 0 20px;
}

.footer-location h3,
.footer-links h3,
.footer-reseña h3 {
    font-size: 24px;
    margin-bottom: 15px;
}

.footer-reseña p {
    font-size: 17px;
}

.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links ul li {
    margin-bottom: 10px;
}

.footer-bottom {
    text-align: center;
    padding-top: 20px;
    border-top: 1px solid #555;
}

.nuevo-header {
    background-color: #333;
    color: white;
    padding: 80px 0;
}

.nuevo-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 35px;
}

.nuevo-header-txt {
    flex: 1;
}

.nuevo-header-txt span {
    font-size: 20px;
    font-weight: bold;
}

.nuevo-header-txt h1 {
    font-size: 36px;
    margin-top: 10px;
    margin-bottom: 5rem;
}

.nuevo-header-txt p {
    font-size: 17px;
    margin-top: 20px;
    margin-right: 102px;
}

.nuevo-butons {
    margin-top: 20px;
}

.nuevo-btn-1 {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ce2121;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    margin-right: 10px;
    transition: background-color 0.3s ease;
}

.nuevo-btn-1:hover {
    background-color: #ff4040;
}

.nuevo-header-img img {
    max-width: 100%;
    height: auto;
}

.carousel-root {
    padding: 20px;
    margin: 20px;
    width: 500px;
    display: flex;
    align-content: center;
    flex-direction: column;
}

.carousel {
    margin-top: 5px;
    background-color: #333;
    display: flex;
    justify-content: center;
}

.carousel-section {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 100px;
    background-color: #333;
}

.carousel-image {
    max-width: 100%;
    height: auto;
}

.legend {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
}

.error-message {
    color: red;
    font-size: 18px;
    text-align: center;
}

@media screen and (min-width: 992px) {

    .navbar {
        border-bottom: none;
        border-radius: 0;
    }

    .form_container {
        width: 50%;
        margin-top: 6rem;
        margin-bottom: 1rem;
    }

    .nuevo-header-img img {
        max-width: 80%;
    }
}

@media screen and (max-width: 991px) {

    .navbar {
        border-bottom: none;
        border-radius: 0;
    }

    .form_container {
        width: 70%;
        padding: 30px;
    }

    .nuevo-header-img img {
        max-width: 100%;
    }

    .title {
        font-size: 1rem;
    }

    .subtitle {
        font-size: 0.625rem;
    }

    .input_label {
        font-size: 0.625rem;
    }

    .input_field {
        height: 35px;
    }

    .sign-in_btn,
    .sign-in_ggl,
    .sign-in_apl {
        height: 35px;
    }

    .separator {
        gap: 20px;
    }
}

@media screen and (max-width: 767px) {

    .navbar {
        border-bottom: none;
        border-radius: 0;
    }

    .form_container {
        width: 90%;
        padding: 20px;
    }

    .nuevo-header-img img {
        max-width: 100%;
    }

    .title {
        font-size: 1rem;
    }

    .subtitle {
        font-size: 0.625rem;
    }

    .input_label {
        font-size: 0.625rem;
    }

    .input_field {
        height: 35px;
    }

    .sign-in_btn,
    .sign-in_ggl,
    .sign-in_apl {
        height: 35px;
    }

    .separator {
        gap: 20px;
    }
}